*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
/* clssi generali */
.colonna1-6{
    width: calc(100% / 6);
}

.colonna2-6{
    width: calc(100% / 6 * 2);
}

.colonna4-6{
    width: calc(100% / 6 * 4);
}

.btn-white{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.btn-white-small{
    font-size: 12px;
    padding: 5px 10px;

}
.btn-black{
    background-color: black;
    color: white;
    border-radius: 20px;
}
.btn-purple{
    background-color: #8EA1E1;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
/*****/
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}
.general-container{
    width: 920px;
    margin: auto;
    /* border: 1px solid; */
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* NAVIGATION */
.navigation{
    padding: 20px 0;
}
/* LOGO NAV */
.logo-container{
    float: left;
}
.logo-img{
    width: 80px;
}
/* LISTA NAV */
.list-container{
    float: left;
}
header ul{
    list-style: none;
    text-align: center;
}
header ul li{
    display: inline-block;
    margin: 0 15px;
}
/* ACCEDI */
.accedi-container{
    float: left;
}
.link-access{
    float: right;
    padding: 10px 25px;
    text-decoration: none;
}
/*  */
.txt-container{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 80px;
    text-align: center;
}
.txt-container h1{
    font-size: 40px;
    padding-bottom: 30px;
}
.txt-container p{
    font-size: 16px;
    padding-bottom: 40px;
}
.txt-container a{
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 20px;
}
/* ******************* */
/* SECOND PAGE */
section{
    background-color: white;
}
section div{
    float: left;
}
.image-container{
    text-align: center;
    /* padding: 20px; */
}
section .normal-image{
    padding: 70px 0;
    max-width: 600px;
}
.txt-container-section{
    padding-top: 100px;
}
.txt-container-section h2,
.txt-container-last-section h2{
    font-size: 41px;
    line-height: 45px;
    padding-bottom: 20px;
}
.txt-container-section p,
.txt-container-last-section p{
    font-size: 17px;
}
/* 
/* Last section */
/* .txt-container-last-section{
    text-align: center;
}
section .big-image{
    padding: 0 45px;
}
.question{
    position: relative;
    padding: 50px 0;
}
/* .question img{
} */
/* .question span{
    font-weight: bold;
    font-size: 25px;
}
section a{
    text-decoration: none;
} 

/* FOOTER */
footer{
    background-color: #23272B;
} 